In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [2]:
# Load the dataset
data = pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# preprocess the data
# Drop irrelavant columns
data = data.drop(["RowNumber","CustomerId","Surname"],axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data["Gender"] = label_encoder_gender.fit_transform(data["Gender"])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [5]:
# Onehot encode "Geography" column
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo = OneHotEncoder()
geo_encoder = onehot_encoder_geo.fit_transform(data[["Geography"]])
geo_encoder

<10000x3 sparse matrix of type '<class 'numpy.float64'>'
	with 10000 stored elements in Compressed Sparse Row format>

In [6]:
geo_encoder.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [7]:
onehot_encoder_geo.get_feature_names_out(["Geography"])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [8]:
geo_encoded_df = pd.DataFrame(geo_encoder.toarray(),columns = onehot_encoder_geo.get_feature_names_out(["Geography"]))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [9]:
# Combine one hot encoder columns with the original data
data = pd.concat([data.drop("Geography",axis=1),geo_encoded_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [10]:
# Save the encoders and sscaler
with open("label_encoder_gender.pkl","wb") as file:
    pickle.dump(label_encoder_gender,file)

with open("onehot_encoder_geo.pkl","wb") as file:
    pickle.dump(onehot_encoder_geo,file)

In [11]:
# Divide the dataset into x independent and y dependent features
x = data.drop("Exited",axis=1)
y = data["Exited"]

In [12]:
x

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,1.0,0.0,0.0

In [13]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [14]:
# Split hte data in training and testing sets
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

# Scale these features
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

In [15]:
x_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [16]:
with open("scaler.pkl","wb") as file:
    pickle.dump(scaler,file)

In [17]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

ANN Implementation

In [18]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [19]:
# Build our ANN Model
model = Sequential([
    Dense(64,activation="relu",input_shape=(x_train.shape[1],)), # HL1 connected with input layer
    Dense(32,activation="relu"), # HL2
    Dense(1,activation="sigmoid") # output layer
])

In [20]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [21]:
import tensorflow
opt = tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss = tensorflow.keras.losses.BinaryCrossentropy()
loss

In [22]:
# compile the model
model.compile(optimizer=opt,loss="binary_crossentropy",metrics=["accuracy"])

In [23]:
# Set up the tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [24]:
# Set up early stopping
early_stopping_callback = EarlyStopping(monitor="val_loss",patience=100,restore_best_weights=True)

In [25]:
# Train the model
history = model.fit(
    x_train,y_train,validation_data=(x_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3861 - accuracy: 0.8410 - val_loss: 0.3656 - val_accuracy: 0.8560
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3563 - accuracy: 0.8512 - val_loss: 0.3484 - val_accuracy: 0.8555
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3493 - accuracy: 0.8561 - val_loss: 0.3377 - val_accuracy: 0.8595
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3435 - accuracy: 0.8580 - val_loss: 0.3540 - val_accuracy: 0.8550
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3384 - accuracy: 0.8635 - val_loss: 0.3410 - val_accuracy: 0.8605
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3401 - accuracy: 0.8594 - val_loss: 0.3412 - val_accuracy: 0.8605
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3348 - accuracy: 0.8618 - val_loss: 0.3477 - val_accuracy: 0.8635
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3341 - accuracy: 0.8651 - val_loss: 0.3465 - val_accuracy: 0.8530
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3318 - accuracy: 0.8631 - val_loss: 0.3556 - val_accuracy: 0.8535
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3309 - accuracy: 0.8626 - val_loss: 0.3416 - val_accuracy: 0.8595
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3303 - accuracy: 0.8649 - val_loss: 0.3376 - val_accuracy: 0.8610
Epoch 12/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3260 - accuracy: 0.8658 - val_loss: 0.3446 - val_accuracy: 0.8585
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3224 - accuracy: 0.8673 - val_loss: 0.3448 - val_accuracy: 0.8630
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3230 - accuracy: 0.8681 - val_loss: 0.3418 - val_accuracy: 0.8640
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3211 - accuracy: 0.8666 - val_loss: 0.3481 - val_accuracy: 0.8630
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3191 - accuracy: 0.8684 - val_loss: 0.3535 - val_accuracy: 0.8620
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3183 - accuracy: 0.8711 - val_loss: 0.3509 - val_accuracy: 0.8575
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3139 - accuracy: 0.8714 - val_loss: 0.3534 - val_accuracy: 0.8585
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3129 - accuracy: 0.8721 - val_loss: 0.3549 - val_accuracy: 0.8615
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3109 - accuracy: 0.8714 - val_loss: 0.3611 - val_accuracy: 0.8600
Epoch 21/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3115 - accuracy: 0.8701 - val_loss: 0.3601 - val_accuracy: 0.8550
Epoch 22/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3081 - accuracy: 0.8725 - val_loss: 0.3595 - val_accuracy: 0.8570
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3017 - accuracy: 0.8740 - val_loss: 0.3677 - val_accuracy: 0.8590
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3027 - accuracy: 0.8767 - val_loss: 0.3641 - val_accuracy: 0.8570
Epoch 25/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3011 - accuracy: 0.8756 - val_loss: 0.3641 - val_accuracy: 0.8645
Epoch 26/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2954 - accuracy: 0.8780 - val_loss: 0.3900 - val_accuracy: 0.8525
Epoch 27/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2929 - accuracy: 0.8801 - val_loss: 0.3839 - val_accuracy: 0.8530
Epoch 28/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2947 - accuracy: 0.8779 - val_loss: 0.3856 - val_accuracy: 0.8565
Epoch 29/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2926 - accuracy: 0.8791 - val_loss: 0.3804 - val_accuracy: 0.8575
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2911 - accuracy: 0.8783 - val_loss: 0.3784 - val_accuracy: 0.8615
Epoch 31/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2894 - accuracy: 0.8770 - val_loss: 0.3876 - val_accuracy: 0.8565
Epoch 32/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2876 - accuracy: 0.8830 - val_loss: 0.3810 - val_accuracy: 0.8575
Epoch 33/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2856 - accuracy: 0.8839 - val_loss: 0.3971 - val_accuracy: 0.8530
Epoch 34/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2861 - accuracy: 0.8796 - val_loss: 0.3891 - val_accuracy: 0.8500
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2816 - accuracy: 0.8829 - val_loss: 0.3950 - val_accuracy: 0.8550
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2830 - accuracy: 0.8815 - val_loss: 0.3946 - val_accuracy: 0.8590
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2831 - accuracy: 0.8825 - val_loss: 0.4075 - val_accuracy: 0.8500
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2746 - accuracy: 0.8874 - val_loss: 0.4070 - val_accuracy: 0.8505
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2786 - accuracy: 0.8840 - val_loss: 0.4175 - val_accuracy: 0.8460
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2716 - accuracy: 0.8881 - val_loss: 0.4223 - val_accuracy: 0.8470
Epoch 41/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2718 - accuracy: 0.8848 - val_loss: 0.4185 - val_accuracy: 0.8545
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2735 - accuracy: 0.8851 - val_loss: 0.4106 - val_accuracy: 0.8515
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2675 - accuracy: 0.8892 - val_loss: 0.4209 - val_accuracy: 0.8500
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2687 - accuracy: 0.8873 - val_loss: 0.4290 - val_accuracy: 0.8460
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 0.2682 - accuracy: 0.8915 - val_loss: 0.4332 - val_accuracy: 0.8475
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2647 - accuracy: 0.8886 - val_loss: 0.4434 - val_accuracy: 0.8445
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 0.2637 - accuracy: 0.8890 - val_loss: 0.4426 - val_accuracy: 0.8465
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2603 - accuracy: 0.8881 - val_loss: 0.4411 - val_accuracy: 0.8435
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 0.2660 - accuracy: 0.8904 - val_loss: 0.4239 - val_accuracy: 0.8460
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 0.2566 - accuracy: 0.8923 - val_loss: 0.4501 - val_accuracy: 0.8525
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 0.2599 - accuracy: 0.8923 - val_loss: 0.4537 - val_accuracy: 0.8400
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 0.2637 - accuracy: 0.8881 - val_loss: 0.4559 - val_accuracy: 0.8445
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2574 - accuracy: 0.8904 - val_loss: 0.4492 - val_accuracy: 0.8470
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2545 - accuracy: 0.8895 - val_loss: 0.4548 - val_accuracy: 0.8435
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2535 - accuracy: 0.8920 - val_loss: 0.4762 - val_accuracy: 0.8500
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 0.2551 - accuracy: 0.8914 - val_loss: 0.4480 - val_accuracy: 0.8495
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 0.2479 - accuracy: 0.8935 - val_loss: 0.5018 - val_accuracy: 0.8390
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2490 - accuracy: 0.8899 - val_loss: 0.5054 - val_accuracy: 0.8465
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2469 - accuracy: 0.8946 - val_loss: 0.4624 - val_accuracy: 0.8410
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2483 - accuracy: 0.8915 - val_loss: 0.4647 - val_accuracy: 0.8405
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2405 - accuracy: 0.8935 - val_loss: 0.5271 - val_accuracy: 0.8365
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2448 - accuracy: 0.8930 - val_loss: 0.4960 - val_accuracy: 0.8400
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2458 - accuracy: 0.8960 - val_loss: 0.4877 - val_accuracy: 0.8450
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2407 - accuracy: 0.8950 - val_loss: 0.4934 - val_accuracy: 0.8505
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2392 - accuracy: 0.8972 - val_loss: 0.4931 - val_accuracy: 0.8410
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2363 - accuracy: 0.8939 - val_loss: 0.5083 - val_accuracy: 0.8400
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2389 - accuracy: 0.8953 - val_loss: 0.5179 - val_accuracy: 0.8415
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2366 - accuracy: 0.8976 - val_loss: 0.5249 - val_accuracy: 0.8485
Epoch 69/100
250/250 [==============================] - 0s 1ms/step - loss: 0.2374 - accuracy: 0.8988 - val_loss: 0.5592 - val_accuracy: 0.8490
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2331 - accuracy: 0.8985 - val_loss: 0.5726 - val_accuracy: 0.8425
Epoch 71/100
250/250 [==============================] - 0s 1ms/step - loss: 0.2345 - accuracy: 0.8963 - val_loss: 0.5385 - val_accuracy: 0.8425
Epoch 72/100
250/250 [==============================] - 0s 1ms/step - loss: 0.2319 - accuracy: 0.8989 - val_loss: 0.5612 - val_accuracy: 0.8355
Epoch 73/100
250/250 [==============================] - 0s 1ms/step - loss: 0.2311 - accuracy: 0.8978 - val_loss: 0.5679 - val_accuracy: 0.8460
Epoch 74/100
250/250 [==============================] - 0s 1ms/step - loss: 0.2259 - accuracy: 0.8996 - val_loss: 0.5856 - val_accuracy: 0.8435
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2301 - accuracy: 0.8999 - val_loss: 0.6138 - val_accuracy: 0.8370
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 0.2295 - accuracy: 0.8969 - val_loss: 0.5996 - val_accuracy: 0.8420
Epoch 77/100
250/250 [==============================] - 0s 1ms/step - loss: 0.2337 - accuracy: 0.8985 - val_loss: 0.5885 - val_accuracy: 0.8385
Epoch 78/100
250/250 [==============================] - 0s 1ms/step - loss: 0.2268 - accuracy: 0.8994 - val_loss: 0.6015 - val_accuracy: 0.8420
Epoch 79/100
250/250 [==============================] - 0s 1ms/step - loss: 0.2262 - accuracy: 0.8981 - val_loss: 0.5934 - val_accuracy: 0.8380
Epoch 80/100
250/250 [==============================] - 0s 1ms/step - loss: 0.2246 - accuracy: 0.9016 - val_loss: 0.5748 - val_accuracy: 0.8355
Epoch 81/100
250/250 [==============================] - 0s 1ms/step - loss: 0.2290 - accuracy: 0.8996 - val_loss: 0.5674 - val_accuracy: 0.8385
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2238 - accuracy: 0.9003 - val_loss: 0.5967 - val_accuracy: 0.8405
Epoch 83/100
250/250 [==============================] - 0s 1ms/step - loss: 0.2215 - accuracy: 0.9041 - val_loss: 0.5825 - val_accuracy: 0.8430
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2217 - accuracy: 0.9015 - val_loss: 0.5949 - val_accuracy: 0.8330
Epoch 85/100
250/250 [==============================] - 0s 1ms/step - loss: 0.2161 - accuracy: 0.9036 - val_loss: 0.6029 - val_accuracy: 0.8420
Epoch 86/100
250/250 [==============================] - 0s 1ms/step - loss: 0.2205 - accuracy: 0.9009 - val_loss: 0.6232 - val_accuracy: 0.8385
Epoch 87/100
250/250 [==============================] - 0s 1ms/step - loss: 0.2167 - accuracy: 0.9036 - val_loss: 0.6205 - val_accuracy: 0.8390
Epoch 88/100
250/250 [==============================] - 0s 1ms/step - loss: 0.2176 - accuracy: 0.9031 - val_loss: 0.6346 - val_accuracy: 0.8395
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2192 - accuracy: 0.9045 - val_loss: 0.6360 - val_accuracy: 0.8335
Epoch 90/100
250/250 [==============================] - 0s 1ms/step - loss: 0.2162 - accuracy: 0.9055 - val_loss: 0.6734 - val_accuracy: 0.8310
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 0.2176 - accuracy: 0.9054 - val_loss: 0.6263 - val_accuracy: 0.8460
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.2097 - accuracy: 0.9079 - val_loss: 0.7016 - val_accuracy: 0.8430
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.2084 - accuracy: 0.9080 - val_loss: 0.7055 - val_accuracy: 0.8395
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2202 - accuracy: 0.9004 - val_loss: 0.7107 - val_accuracy: 0.8370
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2192 - accuracy: 0.9044 - val_loss: 0.6575 - val_accuracy: 0.8335
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2078 - accuracy: 0.9096 - val_loss: 0.6502 - val_accuracy: 0.8445
Epoch 97/100
250/250 [==============================] - 0s 1ms/step - loss: 0.2022 - accuracy: 0.9094 - val_loss: 0.6765 - val_accuracy: 0.8355
Epoch 98/100
250/250 [==============================] - 0s 1ms/step - loss: 0.2038 - accuracy: 0.9093 - val_loss: 0.6965 - val_accuracy: 0.8330
Epoch 99/100
250/250 [==============================] - 0s 1ms/step - loss: 0.2157 - accuracy: 0.9062 - val_loss: 0.6667 - val_accuracy: 0.8375
Epoch 100/100
250/250 [==============================] - 0s 1ms/step - loss: 0.2109 - accuracy: 0.9060 - val_loss: 0.6772 - val_accuracy: 0.8325

In [26]:
model.save("model.h5")

c:\Users\Pankaj\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\engine\training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [27]:
# Load Tensorboard Extension
%load_ext tensorboard

In [28]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 20524), started 21:51:12 ago. (Use '!kill 20524' to kill it.)

In [29]:
# Load the pickle file